<div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

<a *ngFor="let producto of productoService.productosFiltrado"
[routerLink]="['/item', producto.cod]" class="animated fadeIn rk-item ae-masonry__item">
<img src="assets/productos/{{ producto.url }}.jpg" alt="">
<!-- Aseguramos poner el routerlink en la meta, así se puede hacer clic en cualquier parte de la imagen-->
<div [routerLink]="['/item', producto.cod]" class="item-meta">
<h2>{{ producto.titulo }}</h2>
<p>{{ producto.categoria }}</p>
</div>
</a>

</div>