<!-- <section class="ae-container-fluid ae-container-fluid--full"> -->
<section *ngIf="producto">
    <header [ngStyle]="{ 'background-image': 'url(assets/productos/'+ id +'/main.jpg)' }"
    class="rk-portfolio-cover ">
      <div class="animated fadeIn item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title ">{{ producto.producto }}</h1>
        <p class="ae-theta rk-portfolio-category ">{{ producto.categoria }}</p>
      </div>
    </header>
    
    <div class="ae-container-fluid">
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <h2 class="rk-portfolio-inner-title ">{{ producto.subtitulo1 }}</h2>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
          <p class="rk-portfolio-inner-client "><span class="ae-lambda">Client: </span><span class="ae-u-bolder">Agency Design Studio</span></p>
          <p class="au-underline rk-portfolio-inner-website "><a href="#0" class="ae-kappa">www.agencydesign.com</a></p>
          <p class="ae-kappa ae-u-bold rk-portfolio-inner-date ">12 August, 2015</p>
        </div>
      </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h4 class="ae-u-bolder">{{ producto.subtitulo1 }}</h4>
          <p class="ae-eta">{{ producto.desc1 }}</p>
          <!-- <p class="ae-eta">It includes a A6 flyer, A5 folder, A4 horizontal paper and a business card mockup. You can easily put your own graphics and create a new layout according to your needs.</p> -->
        
      </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1">
          <img src="assets/productos/{{id}}/pic-1.jpg" alt="Urku Portfolio">
        </div>
      </div>

      <div class="ae-grid ae-grid--collapse">
        
        <div class="ae-grid__item">
          <img src="assets/productos/{{id}}/pic-2.jpg" alt="Urku Portfolio">
       </div>

        <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
          <p>{{ producto.desc2 }}</p>
          <!-- <p class="au-mb-3">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit <br>in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p> -->
          <p class="ae-u-bolder">{{ producto.subtitulo2 }}</p>
        </div>
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-3.jpg" alt="Urku Portfolio">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-4.jpg" alt="Urku Portfolio">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-5.jpg" alt="Urku Portfolio">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-6.jpg" alt="Urku Portfolio">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-7.jpg" alt="Urku Portfolio">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-8.jpg" alt="Urku Portfolio">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-9.jpg" alt="Urku Portfolio">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-10.jpg" alt="pic-10">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-11.jpg" alt="">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-12.jpg" alt="">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-13.jpg" alt="">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-14.jpg" alt="">
      </div>

      <div class="ae-grid__item">
        <img src="assets/productos/{{id}}/pic-15.jpg" alt="">
      </div>

      
    </div>
  </section>