<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Contactos</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <meta name="description" content="Ben Arda Acar bu web sitesinde bağlantı profillerimi paylaşıyorum.">
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <link rel="canonical" href="https://social.ardacar.com/">
    <meta property="og:site_name" content="Web App Developer | Arda Acar">
    <meta name="author" content="Arda Acar, root@ardacar.com">
    <meta name="publisher" content="Arda Acar">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Web App Developer | Arda Acar">
    <meta property="og:description" content="Ben Arda Acar bu web sitesinde bağlantı profillerimi paylaşıyorum.">
    <meta property="og:url" content="https://social.ardacar.com/">
    <meta property="og:image" content="https://social.ardacar.com/img/wallpaper.png">
    <meta property="og:image:secure_url" content="https://social.ardacar.com/img/wallpaper.png">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@ardacarofficial">
    <meta property="twitter:domain" content="social.ardacar.com">
    <meta property="twitter:title" content="Web App Developer | Arda Acar">
    <meta property="twitter:description" content="Ben Arda Acar bu web sitesinde bağlantı profillerimi paylaşıyorum.">
    <meta property="twitter:creator" content="@ardacarofficial">
    <meta property="twitter:image" content="https://social.ardacar.com/img/wallpaper.png">
    <link rel="stylesheet" href="/src/styles.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&amp;display=swap">
  </head>
  <body>

     <div class="sc-bdfBwQ sc-gsTCUz bcrzgk bhdLno">
      <div class="sc-bdfBwQ sc-gsTCUz fGhsIW bhdLno">
        <div class="sc-bdfBwQ LyLIy">
          <div class="sc-bdfBwQ gAZQBi hufEly"></div>
          <div class="sc-bdfBwQ eZNKTD">
            <div class="sc-bdfBwQ sc-gsTCUz jgGrsq bhdLno">
              <div class="sc-bdfBwQ eZNKTD"><img src="https://d1fdloi71mui9q.cloudfront.net/fTtJ5XBIQ1qrEfxK0RiC_5xhR9lRXTLc0azGI" alt="" role="presentation" data-testid="ProfileImage" class="sc-iBPRYJ flTywP Header__StyledProfilePicture-sc-x93kmr-1" filter="none"></div>
              <div class="sc-bdfBwQ llgrqs jvyDlw">
                <h1 class="sc-dlfnbm fgRbfR eiGOpF">JH FotoEstudio</h1>
              </div>
              <div class="sc-bdfBwQ hTuoxC">
                <!-- <h2 style="text-align:center">JH FotoEstudio</h2> -->
                <h2 style="color:rgb(0, 0, 0);" class="sc-hKgILt jbYlPX">Hola! me llamo Joy, soy fotógrafa y me gusta capturar los momentos más felices.</h2> 
              </div>
            </div>
          </div>
                   
          
          <div class="sc-bdfBwQ pkAuV">
            <div class="sc-bdfBwQ hBNyQA eaMbDs">
              <a  href="https://wa.me/+595981782128?text=Me%20interesa%20el%20servicio%20de%20fotografía%20que%20ofreces" target="_blank" height="auto" class="sc-pFZIQ ldGKnQ imjgnX">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                <p class="sc-hKgILt CczVW rsIfq">WhatsApp</p>
              </a>
            </div>
          </div>
          <div class="sc-bdfBwQ pkAuV">
            <div class="sc-bdfBwQ hBNyQA eaMbDs">
              <a href="#" target="_blank" rel="external noopener nofollow" height="auto" class="sc-pFZIQ ldGKnQ imjgnX">
                <i class="fa fa-spinner" aria-hidden="true"></i>
                <p class="sc-hKgILt CczVW rsIfq">Página Web</p>
              </a>
            </div>
          </div>
          <div class="sc-bdfBwQ pkAuV">
            <div class="sc-bdfBwQ hBNyQA eaMbDs">
              <a href="https://www.instagram.com/jhfotoestudio/" target="_blank" rel="external noopener nofollow" height="auto" class="sc-pFZIQ ldGKnQ imjgnX">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <p class="sc-hKgILt CczVW rsIfq">Instagram</p>
              </a>
            </div>
          </div>
          
          <div class="sc-bdfBwQ pkAuV">
            <div class="sc-bdfBwQ hBNyQA eaMbDs">
              <a href="https://www.facebook.com/profile.php?id=100071244918340" target="_blank" rel="external noopener nofollow" height="auto" class="sc-pFZIQ ldGKnQ imjgnX">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <p class="sc-hKgILt CczVW rsIfq">Facebook</p>
              </a>
            </div>
          </div>

          <div class="sc-bdfBwQ pkAuV">
            <div class="sc-bdfBwQ hBNyQA eaMbDs">
              <a href="https://www.linkedin.com/in/johanna-marin-83438393/" target="_blank" rel="external noopener nofollow" height="auto" class="sc-pFZIQ ldGKnQ imjgnX">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                <p class="sc-hKgILt CczVW rsIfq">Linkedin</p>
              </a>
            </div>
          </div>

          <div class="sc-bdfBwQ pkAuV">
            <div class="sc-bdfBwQ hBNyQA eaMbDs">
              <a href="https://www.google.com/maps/dir//jh+fotoestudio/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x945daf9d4b53abf3:0xa242e44dd19a9903?sa=X&ved=2ahUKEwj1jZKL4cT5AhWjB9QKHcq5DTcQ9Rd6BAg3EAU" target="_blank" rel="external noopener nofollow" height="auto" class="sc-pFZIQ ldGKnQ imjgnX">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p class="sc-hKgILt CczVW rsIfq">Cómo llegar</p>
              </a>
            </div>
          </div>

          <!-- <div class="sc-bdfBwQ djBrvA">
            <div class="sc-bdfBwQ sc-gsTCUz cUWRuD bhdLno">
              
              <a href="https://www.linkedin.com/in/johanna-marin-83438393/" target="_blank" rel="external noopener nofollow" class="sc-eCssSg gsOJfM saVRV">
                <svg enable-background="new 0 0 24 24" viewBox="0 0 24 24" class="sc-gKsewC fzSGPN">
                  <title data-testid="svgTitle" id="title_0.38597013940622893">Linkendin</title>
                  <path d="M4.425,1.671A2.738,2.738,0,0,0,1.5,4.4,2.71,2.71,0,0,0,4.369,7.128H4.4a2.734,2.734,0,1,0,.028-5.457ZM4.4,6.128H4.369a1.736,1.736,0,1,1,.056-3.457A1.737,1.737,0,1,1,4.4,6.128Z"></path>
                  <path d="M6.541,8.431H2.253a.5.5,0,0,0-.5.5v12.9a.5.5,0,0,0,.5.5H6.541a.5.5,0,0,0,.5-.5V8.931A.5.5,0,0,0,6.541,8.431Zm-.5,12.9H2.753V9.431H6.041Z"></path>
                  <path d="M17.064,8.128A4.691,4.691,0,0,0,13.7,9.362V8.931a.5.5,0,0,0-.5-.5H8.914a.5.5,0,0,0-.5.523c.053,1.183,0,12.756,0,12.873a.5.5,0,0,0,.5.5H13.2a.5.5,0,0,0,.5-.5v-7.2a2.749,2.749,0,0,1,.1-.86,1.869,1.869,0,0,1,1.737-1.254c.413,0,1.671,0,1.671,2.417v6.9a.5.5,0,0,0,.5.5H22a.5.5,0,0,0,.5-.5v-7.4C22.5,10.485,20.467,8.128,17.064,8.128Zm4.436,13.2H18.213v-6.4c0-2.973-1.673-3.417-2.671-3.417a2.83,2.83,0,0,0-2.664,1.878,3.253,3.253,0,0,0-.177,1.236v6.7H9.416c.009-2.058.04-9.654.009-11.9H12.7v1.328a.5.5,0,0,0,.92.272,3.769,3.769,0,0,1,3.443-1.9c2.819,0,4.436,1.934,4.436,5.305Z"></path>
                </svg>
              </a>
              
            </div>
          </div> -->

          <p align="center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3605.6561032605928!2d-57.52340068461899!3d-25.34931843591957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945daf9d4b53abf3%3A0xa242e44dd19a9903!2sJH%20FotoEstudio!5e0!3m2!1ses!2spy!4v1660179033344!5m2!1ses!2spy" width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </p>      
          
        </div>   
      </div>
    </div>
  </body>
</html>
